# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
serviceAccountKey.json

.venv
env/
venv/
ENV/

# Outputs / Temp
outputs/
temp/
tmp/
projects/
temp_queue_uploads/

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db
